Django==3.1.1
django-extensions==3.0.9
django-filter==2.4.0
djangorestframework==3.11.1
djangorestframework-simplejwt==4.4.0
drf-yasg==1.17.1
boto3==1.14.46
python-decouple==3.3
jupyter==1.0.0
psycopg2-binary==2.8.5
PyJWT==1.7.1
django-cors-headers==3.4.0
cryptography==3.0
factory-boy==3.0.1
gunicorn==20.0.4
pycurl==7.43.0.5
python-json-logger==0.1.11
celery==4.4.7
celery-prometheus-exporter==1.7.0
shortuuid==1.0.1
pandas==1.2.3

# debugging and development
ipdb==0.13.3
pudb==2020.1
pytest==6.1.0
pytest-cov==2.10.1
pytest-django==3.10.0
pytest-sugar==0.9.4
coverage==5.2.1
pylint==2.6.0
pylint-django==2.3.0
pylint-celery==0.3
pylint-pytest==0.3.0
black==19.3b0
isort==5.6.4
freezegun==1.0.0
pytest-recording==0.11.0
